altgraph==0.17.4
black==25.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
Deprecated==1.2.18
docspec==2.2.1
docspec-python==2.2.2
docstring_parser==0.11
docutils==0.21.2
filetype==1.2.0
idna==3.10
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
macholib==1.16.3
MarkupSafe==3.0.2
modulegraph==0.19.6
mypy_extensions==1.1.0
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
py2app==0.28.8
pydoc-markdown==4.8.2
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.6
PyYAML==6.0.2
requests==2.32.4
setuptools==80.9.0
tomli==2.2.1
tomli_w==1.2.0
typeapi==2.2.4
typing_extensions==4.14.1
urllib3==2.5.0
watchdog==6.0.0
wrapt==1.17.2
yapf==0.43.0
